In [18]:
import pandas as pd
from nltk.stem import PorterStemmer

In [19]:
ps = PorterStemmer()

def stem(text):
    try:
        return [ps.stem(word) for word in text.split()]
    except:
        print(text)

def preprocess(df):
    df["Stemmed"] = df["Text"].apply(stem)
    return df

In [20]:
def calc_count_of_word(word, df):
    stemmed_word = stem(word)[0]
    sub = df["Stemmed"].apply(lambda x: (stemmed_word in x))
    return sub == True, sub == False, sub.value_counts()

In [21]:
df = pd.read_csv("../csv/text.csv").drop(columns=["Unnamed: 0"])

In [22]:
df

,Filename,Text
0,source/Renat Ivanov.pdf,Renat IVANOV\n
1,source/Renat Ivanov.pdf,Senior Software Engineer\n
2,source/Renat Ivanov.pdf,Moscow\n
3,source/Renat Ivanov.pdf,+7-999-000-4786\nrenat@gmail.com\nlinkedin.com...
4,source/Renat Ivanov.pdf,Experience\n
...,...,...
21624,source/Pavel Prysiazhniuk.pdf,Project: CRM for a tourism company. Web and mo...
21625,source/Pavel Prysiazhniuk.pdf,• Performance optimization for displaying and ...
21626,source/Pavel Prysiazhniuk.pdf,through the development of CRM.\n
21627,source/Pavel Prysiazhniuk.pdf,TECHNOLOGIES\n
21628,source/Pavel Prysiazhniuk.pdf,"Languages: JavaScript, TypeScript, NodeJS\nFra..."

In [10]:
df[~df.isna().any(axis=1)]

,Filename,Text
0,source/Renat Ivanov.pdf,Renat IVANOV\n
1,source/Renat Ivanov.pdf,Senior Software Engineer\n
2,source/Renat Ivanov.pdf,Moscow\n
3,source/Renat Ivanov.pdf,+7-999-000-4786\nrenat@gmail.com\nlinkedin.com...
4,source/Renat Ivanov.pdf,Experience\n
...,...,...
21375,source/Pavel Prysiazhniuk.pdf,Project: CRM for a tourism company. Web and mo...
21376,source/Pavel Prysiazhniuk.pdf,• Performance optimization for displaying and ...
21377,source/Pavel Prysiazhniuk.pdf,through the development of CRM.\n
21378,source/Pavel Prysiazhniuk.pdf,TECHNOLOGIES\n
21379,source/Pavel Prysiazhniuk.pdf,"Languages: JavaScript, TypeScript, NodeJS\nFra..."

In [23]:
df = preprocess(df)

In [8]:
df[df["Stemmed"].apply(lambda x: len(x) == 0)]["Filename"].unique()

array(['source/DANIIL BULYGA.pdf', 'source/Danila Doroshenko.pdf',
       'source/Nikolas Evsiukov.pdf', 'source/Резниченко Алексей.pdf',
       'source/SEMEN BOKUN.pdf', 'source/Alan Iusupov .pdf',
       'source/Mitya Brezovsky.pdf', 'source/Viktor Shupenka.pdf',
       'source/Elena Gale.pdf', 'source/DENIS GRIGOREV.pdf',
       'source/Iliya Stepanov.pdf', 'source/Ivan CHUDINOV.pdf',
       'source/Nickita Valchkou.pdf', 'source/АЛЕКСЕЙ КУРБАНОВ.pdf',
       'source/Anton Nesterenko.pdf', 'source/Nick Koshlan.docx',
       'source/Pavel Korniltsev.pdf', 'source/Ivan Petrov.pdf',
       'source/Alina   MANAFLI.pdf', 'source/ALLA VERNIGOR.pdf',
       'source/STEPAN GOLDOBIN.pdf', 'source/VLADIMIR MATVEEV.pdf',
       'source/KHALIMBETOV ASLAN.pdf', 'source/Budniak Ivan.pdf',
       'source/Karen Kekov.pdf', 'source/Danila Shiga.pdf',
       'source/Anna Shemerey.pdf', 'source/Viktor Pavlenko.pdf',
       'source/Vadim Brezovsky.pdf', 'source/Nikita Ivanov.pdf',
       'source/DMIRTII TKACHENKO.pdf', 'source/EGOR SADIBEKOV .pdf',
       'source/Andrey Maximov.pdf', 'source/Vadim Bozhenko.pdf',
       'source/Anton Garkavy.pdf', 'source/Igor Rodin.pdf',
       'source/Ivan Kalashnikov.docx', 'source/Serj Mkrtchyan.pdf',
       'source/Alan Abdirasul.pdf', 'source/Elena Akterskaia.pdf',
       'source/Alexey Melnichnikov.pdf', 'source/Pavel Egorov .pdf',
       'source/Fedor Shulyak.pdf', 'source/JOHN SMITH.pdf',
       'source/ANDREW MIRONOV.pdf', 'source/BOGDANOV NIKOLA.pdf'],
      dtype=object)

In [110]:
df[df["Stemmed"].apply(lambda x: len(x)) == 0]

                          Filename      Text Stemmed
27    source/Алифанова  Алина.docx  \n\n\n\n      []
30     source/KRAVTSOVA ELENA.docx        \n      []
89   source/Baidar NU R I E V.docx        \n      []
110       source/Бармин Антон.docx        \n      []

In [24]:
df.groupby("Filename")["Stemmed"].apply(lambda x: sum([len(i) for i in x])).sort_values()

Filename
source/Konstantin Grachev.docx        133
source/Малиновский Аркадий.pdf        152
source/Baidar Nuriev.docx             166
source/Viktor Shupenka.pdf            178
source/Mitya Brezovsky.pdf            190
                                    ...
source/Нурутдинов Александр.doc      1270
source/ASLANBEK ASADOV.docx          1613
source/Ivan Petrov.pdf               2527
source/Pavel Fedotov.docx            2535
source/pymupdf.pdf                 152160
Name: Stemmed, Length: 212, dtype: int64

In [17]:
df[df["Filename"] == "source/Nikita Ivanov.pdf"]

                       Filename              Text           Stemmed
18187  source/Nikita Ivanov.pdf  Nikita Ivanov \n  [nikita, ivanov]
18188  source/Nikita Ivanov.pdf          \n \n \n                []

In [121]:
for i in range(10):
    filename = df.iloc[i, 0].strip("source/").split(".")[0]
    text = df.iloc[i, 1]
    with open(f"/home/staffeev/ProgrammingProjects/resumes_to_json/test_txt/{filename}.txt", "w", encoding="utf-8") as file:
        file.write(text)

In [126]:
def save_to_txt(name):
    row = df[df["Filename"].str.contains(name)]
    filename = row["Filename"].values[0].strip("source/").split(".")[0]
    text = row["Text"].values[0]
    with open(f"/home/staffeev/ProgrammingProjects/resumes_to_json/test_txt/{filename}.txt", "w", encoding="utf-8") as file:
        file.write(text)

In [128]:
save_to_txt("Artur Yapparov")

In [129]:
save_to_txt("Akhundov Damat")

In [130]:
save_to_txt("Nikolay Rakitnykh")